html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

@keyframes gogreen {
  0%   {left:0px;}
  10%  {left:10px;transform: rotate(180deg)}
  30% {left:20px;transform: rotate(360deg)}
  50% {left:30px;transform: rotate(0deg)}
  70% {left:40px;transform: rotate(180deg)}
  90% {left:50px;transform: rotate(360deg)}
  100% {left:70px;transform: rotate(0deg)}
}
.animation{
  position: absolute;
  width:150px;
  animation-name: gogreen;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(assets/img/left-hand.jpg);
  background-size: cover;
  color: #0a5e38;
  text-align: right;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color:#fff;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 230px;
  float: left;
  padding: 5px 40px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  font-size: 25px;
  line-height: 65px;
  padding: 0 25px;
  color:rgb(16, 177, 70);
  display: block;
  float: left;
  transition: all 0.5s;
  cursor: pointer;
}


.header-right a:hover {
  color:rgb(25, 124, 58);
  transform: translateX(0.15em);
  background-color: rgba(13, 179, 68, 0.6);
  color:white;
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.lesson-icon img{
  width: 50%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-list a {
  font-size: 16px;
  color:#b3aeb5;
}

footer img {
  width: 100px;
  padding-left: 20px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
}
